@font-face {
   font-family: 'Resistenza - Timberline Regular';
   font-display: swap;
   src: url('Resistenza - Timberline Regular/font.ttf');
}
@font-face {
   font-family: 'Mansions Brush Script';
   font-display: swap;
   src: url('Mansions Brush Script/font.ttf');
}
