@font-face {
   font-family: 'Resistenza - Timberline Regular';
   font-display: swap;
   src: url('file:///Users/silviadominguez/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-03-30_110247/fonts/Resistenza%20-%20Timberline%20Regular/font.ttf');
}
